/* Write your CSS here */
.transaction-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

td {
  width: 100px;
  text-align: center;
}
.delete-button {
  border: none;
  background-color: #ffffff;
}
.delete-image {
  height: 20px;
  width: 20px;
}
